/* ===================================================cosmetic-dentistry-section============================================= */

body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

/* ----------------------------------------------------1st page- intro------------------------------------------------------- */

.cosmetic-dentistry-intro-section{
    height: 100vh;
    width: 100%;
    background-color: #ebe3da;
  }
  
  .cosmetic-dentistry-intro-section .cosmetic-dentistry-intro-container{
    height: 95vh;
    width: 100%;
    margin-top: 10vh;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cosmetic-dentistry-wrapper{
    width: 100%;
    height: 110%;
    top:-10%;
    background: linear-gradient(rgba(0,0,0.7), rgba(0,0,0,0.5)), url(StockCake-Professional\ Dental\ Care_1735884050.jpg) center no-repeat;
    background-size: cover;
    /* box-shadow: 0.1rem 5rem rgba(0, 0, 0, 0.6); */
    position: relative;
  }
  
  /* .cosmetic-dentistry-intro-container .cosmetic-dentistry-intro-img-container{
    height: 100%;
    width: 50%;
    border: 2px solid blueviolet;
  }
  
  .cosmetic-dentistry-intro-img-container  .cosmetic-dentistry-intro-img-sub-container{
    height: 70vh;
    width: 70%;
    margin-left: 15%;
    margin-top: 15%;
    border: 2px solid red;
  }
  
  .cosmetic-dentistry-intro-img-sub-container img{
    height: 100%;
    width: 100%;
    background-size: cover;
  } */
  
  .cosmetic-dentistry-intro-container .cosmetic-dentistry-intro-texts-container{
    height: 100%;
    width: 50%;
    /* border: 2px solid blueviolet; */
  }
  
  .cosmetic-dentistry-intro-texts-container  .cosmetic-dentistry-intro-texts-sub-container{
    height: 70vh;
    width: 160%;
    margin-left: 5%;
    margin-top: 10%;
    /* border: 2px solid blue; */
  }
  
  .cosmetic-dentistry-intro-texts-sub-container .cosmetic-dentistry-section-heading{
    /* border: 2px solid blueviolet; */
    margin-top: 28%;
  }
  
   .cosmetic-dentistry-section-heading h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    letter-spacing: 0.2rem;
    margin-left: 40%;
    margin-top: 10%;
    color: white;
    font-size: 2rem !important;
    /* border: 2px solid black; */
  }
  
  
  .cosmetic-dentistry-intro-texts-sub-container .cosmetic-dentistry-section-paragraph{
    /* border: 2px solid blueviolet; */
    margin-top: 3%;
  }
  
  .cosmetic-dentistry-section-paragraph p{
    font-size: 1.3rem !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    width: 90%;
    color: white;
    text-align: center;
    margin-left: 10%;
    margin-top: 5%;
  }
  
  .cosmetic-dentistry-intro-texts-sub-container .contact-btn{
    margin-top: 8%;
    height: 2.5rem;
    width: 9.5rem;
    margin-left: 57% !important;
    /* border-radius: 20px; */
    border: 1px solid white;
    background-color: white;
  }
  
  .cosmetic-dentistry-intro-texts-sub-container .contact-btn a{
    text-decoration: none;
    font-size: 0.9rem;
    letter-spacing: 0.2rem;
    color: black;
  }
  
  .cosmetic-dentistry-intro-texts-sub-container .contact-btn:hover{
    background-color: black;
    cursor: pointer;
    border: 1px solid black;
  }
  
  .cosmetic-dentistry-intro-texts-sub-container .contact-btn:hover a{
    color: white;
  }
  
  
  @media(max-width: 1286px){
  .cosmetic-dentistry-intro-texts-sub-container .cosmetic-dentistry-section-heading h1{
    font-size: 2.5rem;
    margin-left: 50%;
    margin-top: 15%;
  }
  
  .cosmetic-dentistry-section-paragraph p{
    font-size: 1.5rem;
    margin-left: 20%;
    margin-top: 2%;
  }
  
  .cosmetic-dentistry-intro-texts-sub-container .contact-btn{
    margin-top: 5%;
    margin-left: 58.5%;
  }
  
  }
  
  /* ---------------------------------------------------------------------2nd-page-smile-pictures------------------------------------------------- */
  
  .cosmetic-dentistry-smile-gallery{
    height: 100vh;
    width: 100%;
    background-color: #ebe3da;
  }
  
  .cosmetic-dentistry-smile-gallery .cosmetic-dentistry-smile-gallery-container{
    height: 95vh;
    width: 100%;
    margin-top: -2%;
    /* margin-top: 10vh; */
    /* border: 2px solid black; */
  }
  
  .cosmetic-dentistry-smile-gallery-container .Cosmetic-dentistry-smile-gallery-section-heading{
    height: 10vh;
    width: 100%;
    /* margin-left: 5%; */
    /* margin-top: 10%; */
    /* border: 2px solid blue; */
  }
  
  .Cosmetic-dentistry-smile-gallery-section-heading h2{
    font-size: 2.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    letter-spacing: 0.1rem;
    margin-left: 40%;
    margin-top: 2%;
  }
  
  .cosmetic-dentistry-smile-gallery-container .basal-image-sub-container{
    /* border: 2px solid blue; */
    height: 80vh;
  }
  
  .cosmetic-dentistry-smile-gallery-container .basal-image-sub-container .basal-patient-images{
    /* border: 2px solid blue; */
    margin-top: 0%;
  }
  
  
  .cosmetic-dentistry-smile-gallery-container .basal-image-sub-container .basal-buttons .prev-btn, 
  .cosmetic-dentistry-smile-gallery-container .basal-image-sub-container .basal-buttons .next-btn{
    margin-top: 0%;
    height: 2.5rem;
    width: 7rem;
    /* border-radius: 10px; */
    /* border: 1px solid black; */
    background-color: transparent;
    margin-left: 0%;
    text-decoration: none;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    color: black;
  }
  
  .cosmetic-dentistry-smile-gallery-container .basal-image-sub-container .basal-buttons .next-btn{
    margin-left: 10%;
  }
  
  .cosmetic-dentistry-smile-gallery-container .basal-image-sub-container .prev-btn:hover,
  .cosmetic-dentistry-smile-gallery-container .basal-image-sub-container .next-btn:hover{
    background-color: black;
    cursor: pointer;
  }
  
  .cosmetic-dentistry-smile-gallery-container .basal-image-sub-container .prev-btn:hover p, 
  .cosmetic-dentistry-smile-gallery-container .basal-image-sub-container .next-btn:hover p{
    color: white;
  }
  
  
  /* --------------------------------------------------------------------------3rd page-------------------------------------------------------------------------------- */
  
  .cosmetic-dentistry-types {
    height: 480vh;
    padding: 20px;
    width: 100%;
    /* border: 2px solid black; */
    background-color: #ebe3da;
  }
  
  .cosmetic-dentistry-types h2 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 20px;
    /* border: 2px solid black; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    font-weight: 500;
  }
  
  .cosmetic-dentistry-types .cosmetic-dentistry-types-container{
    height: 470vh;
    /* border: 2px solid green; */
  }
  
  .cosmetic-dentistry-types-container .cosmetic-dentistry-types-sub-container{
    height: 50vh;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    margin-top: 8vh;
    /* align-items: center; */
  }
  
  .cosmetic-dentistry-types-sub-container .cosmetic-dentistry-types-text{
    width: 50%;
    height: 30vh;
    /* border: 2px solid red; */
    padding-top: 6%;
  }
  
  .cosmetic-dentistry-types-text h3{
    height: 5vh;
    width: 80%;
    /* border: 2px solid black; */
    text-align: left;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    font-weight: 300;
    margin-left: 10%;
  }
  
  .cosmetic-dentistry-types-text p{
    height: 12vh;
    width: 80%;
    /* border: 2px solid black; */
    text-align: left;
    font-size: 1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    font-weight: 300;
    margin-top: 1%;
    margin-left: 10%;
  }
  
  .cosmetic-dentistry-types-sub-container .cosmetic-dentistry-types-image{
    width: 50%;
    height: 50vh;
    /* border: 2px solid purple; */
  }
  
  .cosmetic-dentistry-types-image .cd-img{
    height: 45vh;
    width: 80%;
    margin-top: 1vh;
    margin-left: 10%;
    /* border: 2px solid blue; */
  }
  
  .cd-img img{
    height: 100%;
    width: 100%;
    background-size: cover;
  }
  
  /* ------------------------------------------------------------------------------------4TH-PAGE--------------------------------------------------------------------- */
  
  .cosmetic-dentistry-benefits{
    height: 70vh;
    width: 100%;
    background-color: #ebe3da;
    /* border: 2px solid black; */
  }
  
  .cosmetic-dentistry-benefits h2{
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-align: center;
  }
  
  .cosmetic-dentistry-benefits-container{
    height: 50vh;
    width: 100%;
    /* border: 2px solid blue; */
  }
  
  .cosmetic-dentistry-benefits-container .cosmetic-dentistry-benefits{
    height: auto;
    width: 100%;
    margin-top: 3%;
    /* border : 2px solid blue; */
    margin-left: 5%;
  }
  
  .cosmetic-dentistry-benefits .Benefit-cos-den{
    /* border : 2px solid blue; */
    margin-top: 1.5%;
  }
  
  .Benefit-cos-den li{
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.1rem;
    /* text-align: left; */
  }
  
   /* ------------------------------------------------------------------------------------dentist-client------------------------------------ */
  
.people-main-section{
  position: relative;
  width: 100%;
  height: 70vh;
  /* display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; */
  /* background-color: #BEB2A6; */
  background-color:  #c0b9b2;
  border: 2px solid transparent;
}


.people-main-section .people-slider-wrapper{
  overflow: hidden;
  margin: 0 60x 50px;
}


.people-main-section .people-item {
  display: flex;
  /* padding: 35px; */
  padding-top: 15px;
  padding-bottom: 50px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  margin-top: 4%;
  /* border: 2px solid black; */
}

.people-main-section .people-item .people-images{
  width: 350px;
  height: 250px;
  background-size: cover;
  /* border-radius: 50%; */
  margin-bottom: 50px;
  border: 10px solid #f9f2e8;
}

.people-main-section .swiper-pagination-bullet{
  width: 15px;
  height: 15px;
  opacity: 1;
  margin-bottom: 5%;
  /* border: 2px solid black; */
}
